@import "https://fonts.googleapis.com/css?family=Roboto+Mono:400,500";
@import "components/Navbar";
@import "components/Dataflow";
@import "components/Tweeting";
@import "components/Tweet";
@import "components/Heart";

$font-stack: Roboto mono, cursive;

body {
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e6ecf1;
    .App {
        overflow-x: hidden;
        height: 100vh;
    }
}